/* TEST */
:root {
    --background-image-blur: 1px;
    --popout-modal-brightness: 0.95;
    --popout-modal-blur: 5px;
    --serverlist-brightness: 0.85;
    --left-brightness: 0.85;
    --middle-brightness: 0.65;
    --right-brightness: 0.45;
    --popout-modal-brightness: 0.65;
    --font: 'Droid Sans', sans-serif;
    --bg-colour: 50, 51, 159;
    --tint-brightness: 70;
    --popout-modal-image: url('https://www.publicdomainpictures.net/pictures/190000/velka/black-background-1468370534d5s.jpg');
    --show-gift-gif-buttons: block !important;
    --window-padding: 0px;
    --window-roundness: 0px;
    --scrollbar-colour: rgba(255, 255, 255, 0.05);
    --link-colour: #00b0f4;
    --update-notice-1: none;
  
    --rs-small-spacing: 2px;
    --rs-large-spacing: 3px;
    --rs-width: 2px;
    --rs-avatar-shape: 50%;
    --rs-online-color: #43b581;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-streaming-color: #643da7;
    --rs-offline-color: #636b75;
    --rs-invisible-color: #747f8d;

    --HSL-server-icon-size: 40px;
    --HSL-server-spacing: 10px;
}

/* Inline CodeBlock */
.after_inlineCode-1KfVgj,
.before_inlineCode-1G9rTK,
.inlineCode-2ngu6Y {
    background-color: rgba(0, 0, 0, .5);
}

/* Careful - you have unsaved changes! */
.theme-dark .elevationHigh-1PneE4 {
    background-color: rgba(0, 0, 0, .5) !important;
}

/* Audit Log Filters */
.theme-dark .popoutList-T9CKZQ {
    background-color: rgba(0, 0, 0, .5);
}

.selectableItem-1MP3MQ.selected-31soGA {
    background-color: var(--gradient-secondary) !important;
}

.theme-dark .selectableItem-1MP3MQ:hovers {
    background-color: rgba(0, 0, 0, .5);
}

/* View Reactions */
.theme-dark .sidebar-1-SQro,
.theme-dark .reactors-Blmlhw {
    background-color: rgba(0, 0, 0, .5);
}

.theme-dark .reactionSelected-1pqISm {
    background-color: rgba(0, 0, 0, 0.5);
}

.theme-dark .reactionDefault-GBA58K:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Color Picker */
.theme-dark .colorPickerCustom-2CWBn2 {
    background: rgba(0, 0, 0, 0.7) !important;
    border-color: rgb(20, 20, 20);
    border-radius: 5px;
}

/* Follow this channel */
.wrapper-39oAo3 {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* Emoji Picker (March or April 2020)*/
.header-8ilj5e,
.bodyWrapper-3G0FZZ,
.contentWrapper-2txmjs,
.inspector-sdLnLS,
.wrapper-2N7X54,
.categoryWrapper-UZ5YNj {
    background: rgba(0, 0, 0, 0.7) !important;
}

.emojiItem-14v6tW.emojiItemSelected-1aLkfV,
.categoryItemDefaultCategorySelected-_HCKoz,
.navButtonActive-3RPAJy {
    background-color: var(--gradient-secondary);
}

.guildIcon-3h-1IH {
    background-color: transparent;
}

.diversitySelectorPopout-3FiGaM {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-color: rgba(0, 0, 0, .5);
}

.diversityEmojiItem-L6_IXw:hover,
.guildIcon-3h-1IH:hover {
    background-color: var(--gradient-secondary);
}

.theme-dark .sadImage-2ph8SI {
    display: none;
}

/* In place when dragging Server or Folder */
.dragInner-_SHftW {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* Account Credit */
.premiumSubscriptionAccountCredit-25i0tQ {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* Emoji Picker Nitro will Expire soon */
.premiumRetentionNotice-1MsjHe {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* NOBODY IS ACTIVE RIGHT NOW */
.emptyCard-1RJw8n {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* New Context Server Dropdown */
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--gradient-primary);
}

.styleFixed-sX-yHV {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* New Join Module */
.size16-1P40sf {
    font-size: 15px;
    font-weight: 200;
}

.theme-light .input-UJ9Tr3,
.theme-light .input-1mgnkM {
    color: #e3e5e8;
}

/* Invite to server Module */
.input-cIJ7To {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* New welcome to server */
.card-1yV8cG {
    background: rgba(0, 0, 0, 0.7) !important;
}

.card-1yV8cG:hover {
    background-color: var(--gradient-primary);
}

.channelTextArea-2VhZ6z.highlighted-2eSV1B {
    box-shadow: 0 0 0 4px var(--gradient-primary);
}

/* Role Permission Options */
.theme-dark .item-3T2z1R {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-color: rgba(0, 0, 0, .5);
}

.theme-dark .denySelected-1mh2mZ {
    background-color: #f04747;
}

.theme-dark .allowSelected-25S_i5 {
    background-color: #43b581;
}

.theme-dark .passthroughSelected-1Eq0Kl {
    background-color: var(--gradient-primary);
}

/* Unread Popout p.s. hecc u discord */
.tutorial-3w5I9h,
.container-enaOkj,
.messages-3G3erD,
.channelHeader-3Gd2xq {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.messages-3G3erD,
.channelHeader-3Gd2xq {
    padding-right: 10px;
    padding-left: 20px;
}

.collapseButton-2ZsEjz {
    padding-left: 10px;
}

.messageContainer-1ei2zM:hover .jumpButton-3vBz5U {
    background-color: transparent;
}

.icon-1Itzco {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #fff;
}

.tertiary-aMXF0g {
    background-color: var(--gradient-primary);
    color: white;
}

.tertiary-aMXF0g:hover {
    background-color: var(--gradient-secondary);
    color: white;
}

/* I hate discord too man */
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

#app-mount .cozy-3raOZG .header-23xsNx {
    margin-left: 0;
    padding: 0px 0px 0px 0px;
    padding-left: 0;
    position: relative;
    z-index: 2;
    text-align: left;
    letter-spacing: 1px;
    color: #e6e6e6;
    border-bottom-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, transparent 0%, var(--gradient-primary) 5%, var(--gradient-secondary) 10%, transparent 20%) 1;
}

::selection {
    background: rgb(var(--gradient-primary));
    color: var(--gradient-secondary);
  }

  .jumpButton-3DTcS_ {
    background-color: var(--gradient-primary);
    background-image: linear-gradient(to bottom right, var(--gradient-primary), var(--gradient-secondary));
    display: block;
    padding: 10px;
}

.colorDefault-2K3EoJ .checkbox-3s5GYZ,
.colorDefault-2K3EoJ .radioSelection-1HmrQS,
.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN {
    color: var(--gradient-primary)
}


.checkboxWrapper-SkhIWG .checkbox-1ix_J3.checked-3_4uQ9 {
    background-color: var(--gradient-primary) !important;
    background-image: linear-gradient(to bottom right, var(--gradient-primary), var(--gradient-secondary));
    border: 1px solid rgba(0, 0, 0, .5) !important
}

.item-26Dhrx[style*="rgb(114, 137, 218)"] {
    background-color: var(--gradient-primary) !important;
    background-image: linear-gradient(to bottom right, var(--gradient-primary), var(--gradient-secondary));
    border: 1px solid rgba(0, 0, 0, .5) !important
}

.jumpToPresentBar-9P20AM {
    background-color: rgba(0, 0, 0, .5);
    opacity: .8
}

.css-123uooi-menu,
.css-1b86x2o-control,
.css-1o55ng5-control,
.search-1iTphC .searchBox-2_mAlO,
.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO {
    background-color: rgba(0, 0, 0, .5);
}

.search-1iTphC .searchBox-2_mAlO:focus,
.search-1iTphC .searchBox-2_mAlO:focus-within {
    box-shadow: none
}

.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO:focus,
.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO:focus-within {
    border-color: var(--gradient-primary)
}
